# logs
*.log

# python
*.so
*.py[cod]
__pycache__/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# environment
env/
venv/
.venv/
.python-version

# code editors
*.swp
.idea/
.vscode/
Thumbs.db
.DS_Store

# notebooks
.ipynb_checkpoints/

# credentials
.env
*.key
.env.*
credentials/
service-account*.json

# data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep